includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    typeAliases:
        QueryBuilder: 'Illuminate\Database\Eloquent\Builder'
    ignoreErrors:
        - '#Out of .+ possible param types, only .+ actually have it#'
        - '#uses generic trait .+ but does not specify its types#'
        - '#Method .+ return type with generic class .+ does not specify its types#'
        -
            identifier: missingType.iterableValue